<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Language>ko</Language>
    <AutoSave>true</AutoSave>
    <LastRecipePath>20251217_101558_131</LastRecipePath>
    <SerialPort>사용 가능한 포트 없음</SerialPort>
    <SerialBaudRate>115200</SerialBaudRate>
    <ServerIp>192.168.5.2</ServerIp>
    <ServerPort>5000</ServerPort>
    <AutoConnect>true</AutoConnect>
    <ReconnectInterval>3</ReconnectInterval>
    <CameraAutoConnect>false</CameraAutoConnect>
    <PropertyPanel x="102" y="167" width="347" height="687" collapsed="false" expandedHeight="687"/>
    <LogPanel x="501" y="134" width="800" height="381" collapsed="true"/>
</Config>
