<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Language>ko</Language>
    <AutoSave>true</AutoSave>
    <LastRecipePath>20251217_150549_900</LastRecipePath>
    <SerialPort>사용 가능한 포트 없음</SerialPort>
    <SerialBaudRate>115200</SerialBaudRate>
    <ServerIp>192.168.5.2</ServerIp>
    <ServerPort>5000</ServerPort>
    <AutoConnect>true</AutoConnect>
    <ReconnectInterval>3</ReconnectInterval>
    <CameraAutoConnect>false</CameraAutoConnect>
    <PropertyPanel x="29" y="136" width="424" height="687" collapsed="false" expandedHeight="687"/>
    <LogPanel x="452" y="69" width="800" height="206" collapsed="true"/>
</Config>
